body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > * {
    padding: 10px;
}

#background {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #420084;
    background-image: linear-gradient(0deg, #420084, #5836a0);
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.formDiv {
    display: flex;
    flex-direction: row;
}

.formDiv > * {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form {
    width: 200px;
    margin-bottom: 8px;
}

#title {
    font-size: 70px;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}

img {
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

#logo {
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

#avatar {
    margin-left: 20px;
    border-radius: 999999rem;
    width: 35px;
    height: 35px;
}

h1 {
    font-size: inherit;
}

#userInfo {
    display: flex;
    flex-direction: row;
}

#statusInput {
    width: 25px;
}

@media (min-width: 1100px) {
    body {
        width: 1100px
    }
}

select {
    margin-top: 20px;
    font-size: large;
    background-color: #8000ff;
    color: white;
    padding: 3px;
    border-radius: 0.375rem;
}

.blob {
    background-color: #8000ff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.375rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
}

.border {
    border-width: 3px;
    border-color: #420084;
    border-style: solid;
}

#feedbackWrapper {
    background-color: #b030ffb0;
    opacity: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 0.6rem;
    border-radius: 0.375rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    position: fixed;
    top: 3vh;
    left: 10vw;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    
    z-index: 10;
}

#feedbackWrapper.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

#feedbackX {
    opacity: 0.9;
    padding: 0.18rem;
    padding-left: 0.5rem;
    padding-right: 0.54rem;
    margin-left: 0.5rem;
    border-radius: 0.375rem;
    border: rgb(152, 0, 0) 3px solid;
    width: 1rem;
    height: 1rem;
    background-color: rgba(213, 0, 0, 0.85);
    text-align: center;
}

#feedbackX:hover {
    background-color: rgba(241, 0, 0, 0.85);
}

button:hover {
    background-color: #b030ff;
}

a {
    color: inherit;
}

a:hover {
    color: #bf6fff;
}

#login {
    color: white;
}

#login:hover {
    color: #bf6fff;
}

footer {
    display: flex;
    flex-direction: row;
}

footer > * {
    margin-right: 1em;
}

footer>*.blob {
    margin-top: 0;
}

.bg-discord-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(114 137 218 / var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.375rem;
}

.bg-discord-blue:hover {
    background-color: rgb(84 107 188 / var(--tw-bg-opacity));
}

#loginDiv {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}